<h1>Listing quotes</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Integer</th>
      <th>Vehicle</th>
      <th>Employee</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Status</th>
      <th>Interest</th>
      <th>Months</th>
      <th>Principal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer_id %></td>
        <td><%= quote.integer %></td>
        <td><%= quote.vehicle_id %></td>
        <td><%= quote.employee_id %></td>
        <td><%= quote.price %></td>
        <td><%= quote.discount %></td>
        <td><%= quote.status %></td>
        <td><%= quote.interest %></td>
        <td><%= quote.months %></td>
        <td><%= quote.principal %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>

