<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @quote.integer %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quote.price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @quote.discount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @quote.interest %>
</p>

<p>
  <strong>Months:</strong>
  <%= @quote.months %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @quote.principal %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
