<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer.status_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<h2>Customer Search</h2>
<%= form_tag customers_path, :method => 'get' do %>
    <p>
      Search by Name
      <br>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
