<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :vehicle_color_id %><br>
    <%= f.number_field :vehicle_color_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_type_id %><br>
    <%= f.number_field :vehicle_type_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_model_id %><br>
    <%= f.number_field :vehicle_model_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_brand_id %><br>
    <%= f.number_field :vehicle_brand_id %>
  </div>
  <div class="field">
    <%= f.label :vin %><br>
    <%= f.text_field :vin %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
