<h1>Listing vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Vehicle color</th>
      <th>Vehicle type</th>
      <th>Vehicle model</th>
      <th>Vehicle brand</th>
      <th>Vin</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.vehicle_color_id %></td>
        <td><%= vehicle.vehicle_type_id %></td>
        <td><%= vehicle.vehicle_model_id %></td>
        <td><%= vehicle.vehicle_brand_id %></td>
        <td><%= vehicle.vin %></td>
        <td><%= vehicle.price %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
