<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Vehicle color:</strong>
  <%= @vehicle.vehicle_color_id %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type_id %>
</p>

<p>
  <strong>Vehicle model:</strong>
  <%= @vehicle.vehicle_model_id %>
</p>

<p>
  <strong>Vehicle brand:</strong>
  <%= @vehicle.vehicle_brand_id %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
