<h1>Listing vehicle_colors</h1>

<table>
<td><%= link_to 'Makes', vehicle_types_path %></td>
  <td><%= link_to 'Models', vehicle_models_path %></td>
  <td><%= link_to 'Types', vehicle_brands_path %></td>
</table>
  <table>
  <thead>
    <tr>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_colors.each do |vehicle_color| %>
      <tr>
        <td><%= vehicle_color.color %></td>
        <td><%= link_to 'Show', vehicle_color %></td>
        <td><%= link_to 'Edit', edit_vehicle_color_path(vehicle_color) %></td>
        <td><%= link_to 'Destroy', vehicle_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle color', new_vehicle_color_path %>
