<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @vehicle_color.color %>
</p>

<%= link_to 'Edit', edit_vehicle_color_path(@vehicle_color) %> |
<%= link_to 'Back', vehicle_colors_path %>
