<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @vehicle_model.model %>
</p>

<p>
  <strong>Vehicle brand:</strong>
  <%= @vehicle_model.vehicle_brand_id %>
</p>

<%= link_to 'Edit', edit_vehicle_model_path(@vehicle_model) %> |
<%= link_to 'Back', vehicle_models_path %>
