<%= form_for(@vehicle_brand) do |f| %>
  <% if @vehicle_brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_brand.errors.count, "error") %> prohibited this vehicle_brand from being saved:</h2>

      <ul>
      <% @vehicle_brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
