<h1>Listing vehicle_brands</h1>
<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Colors', vehicle_colors_path %></td>
  <td><%= link_to 'Models', vehicle_models_path %></td>
  <td><%= link_to 'Types', vehicle_types_path %></td>
</table>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_brands.each do |vehicle_brand| %>
      <tr>
        <td><%= vehicle_brand.brand %></td>
        <td><%= link_to 'Show', vehicle_brand %></td>
        <td><%= link_to 'Edit', edit_vehicle_brand_path(vehicle_brand) %></td>
        <td><%= link_to 'Destroy', vehicle_brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle brand', new_vehicle_brand_path %>
