<%= form_for(@amort_rate) do |f| %>
  <% if @amort_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amort_rate.errors.count, "error") %> prohibited this amort_rate from being saved:</h2>

      <ul>
      <% @amort_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :months %><br>
    <%= f.text_field :months %>
  </div>
  <div class="field">
    <%= f.label :principal %><br>
    <%= f.text_field :principal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
