<table class="CSSTableGenerator" width="30%">
  <th>Amort1</th>
  <th>Amort2</th>
  <th>Amort3</th>
  <% @amort_array.each_with_index do |p,n,z|  %>
      <tr>
        <td><%= n %></td>
        <td><%= p.round(2) %></td>
        <td><%= z %></td>
      </tr>
  <% end %>

</table>