<h1>Listing Amort Rates</h1>

<table>
  <thead>
    <tr>
      <th>Interest</th>
      <th>Months</th>
      <th>Principal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amort_rates.each do |amort_rate| %>
      <tr>
        <td><%= amort_rate.interest %></td>
        <td><%= amort_rate.months %></td>
        <td><%= number_to_currency(amort_rate.principal) %></td>
        <td><%= link_to 'Show', amort_rate %></td>
        <td><%= link_to 'Edit', edit_amort_rate_path(amort_rate) %></td>
        <td><%= link_to 'Destroy', amort_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amort rate', new_amort_rate_path %>
