<p id="notice"><%= notice %></p>


<p>
  <strong>Interest:</strong>
  <%= @amort_rate.interest %>
</p>

<p>
  <strong>Months:</strong>
  <%= @amort_rate.months %>
</p>

<p>
  <strong>Principal:</strong>
  <%= number_to_currency(@amort_rate.principal) %>
</p>

<%= link_to 'Edit', edit_amort_rate_path(@amort_rate) %> |
<%= link_to 'Back', amort_rates_path %>


