<h1>Listing vehicle_types</h1>
<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Colors', vehicle_types_path %></td>
  <td><%= link_to 'Makes', vehicle_models_path %></td>
  <td><%= link_to 'Models', vehicle_brands_path %></td>
</table>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_types.each do |vehicle_type| %>
      <tr>
        <td><%= vehicle_type.type %></td>
        <td><%= link_to 'Show', vehicle_type %></td>
        <td><%= link_to 'Edit', edit_vehicle_type_path(vehicle_type) %></td>
        <td><%= link_to 'Destroy', vehicle_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle type', new_vehicle_type_path %>
