<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @vehicle_type.type %>
</p>

<%= link_to 'Edit', edit_vehicle_type_path(@vehicle_type) %> |
<%= link_to 'Back', vehicle_types_path %>
