<center><h1><big></big>Auto Inventory Management System</h1></center>

<b><center><p> Select Your Option: </p> </center></b>

<center>
<table>
  <td><%= link_to 'Vehicle Colors', vehicle_types_path %></td></table>
  <p></p><td><%= link_to 'Vehicle Makes', vehicle_models_path %></td></p>
  <p></p><td><%= link_to 'Vehicle Models', vehicle_brands_path %></td></p>
  <td><%= link_to 'Employees', employees_path %></td>
 <p> <td><%= link_to 'Quotes', quotes_path %></td></p>
  <p> <td><%= link_to 'Vehicles', vehicles_path %></td></p>
  <p> <td><%= link_to 'Vehicles Types', vehicle_types_path %></td></p>
  <p> <td><%= link_to 'Amortization Rates', amort_rates_path %></td></p>

</center>

<center><%= link_to 'Customer Listings', customers_path %></center>

